* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 10px;
  display: grid;
  justify-content: center;
  text-align: justify;
  text-justify: auto;
}

/* .slotmachine {} */

.slot-number {
  font-size: 32px;
  padding: 2em;
  border: 1px solid black;
  display: flex;
  flex-wrap: none;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  flex-wrap: none;
}

.lever {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #game-series {
  transition-timing-function: ease-in;
  transition-duration: 300ms;
}

#rule-stipulation {
  transition-timing-function: ease-in;
  transition-duration: 300ms;
} */

#game-series {
  position: relative;
}

#game-series img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}